ion-header {
  ion-toolbar {
    &.transparent {
      --background: transparent;
    }

    &.bg-image {
      --background: url('/assets/images/bg-dark.png') center top calc((var(--ion-safe-area-top, 0) - 44px)) / cover no-repeat;
    }

    --color: white;
  }
  background: url('/assets/images/bg-dark.png') center top / cover no-repeat;
}

ion-content {
  --padding-top: 24px;
  --background: #f8f9f9;
}

.chart-container {
  margin-top: -30px;
  width: 100%;
  height: 155px;
}

p.subtitle {
  display: block;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  color: var(--ion-color-primary);
}

ion-segment {
  ion-icon {
    font-size: 18px;
  }
}

.title-bar-container {
  max-width: 500px;
  margin: 0 auto -24px auto;
  ion-card.title-bar {
    color: var(--ion-color-primary);
    margin: 0 20px;
    padding: 8px 0;
    border-radius: 100px;
    text-align: center;
    --background: #fff;

    p {
      &.title {
        font-size: 17px;
        font-weight: bold;
      }

      &.subtitle {
        font-size: 12px;
      }

      color: var(--ion-color-primary);
      margin: 0;
    }
  }
}

/* LIST */
ion-list {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background: none;
  ion-card {
    margin: 12px 20px;
    padding: 6px;
    border-radius: 16px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    --background: #fff;
  }
}

ion-card.switch {
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: -26px;
  --background: white;

  ion-label {
    p {
      font-size: 12px;
      color: var(--ion-color-primary);
    }
  }
}

ion-footer {
  ion-button {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
  }
  ion-toolbar {
    --border-width: 0;
    border-radius: 18px 18px 0 0;
    box-shadow: 0px -5px 12px 0px rgba(0, 0, 0, 0.04);
  }
}

// Bliq Logo
.bliq-logo {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.bliq-text {
  display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: grey;
    margin-bottom: 8px;
}

.line-divider {
  height: 1px;
  background: #efefef;
  width: 100%;
  margin-bottom: 20px;
}