<ion-header class="bg-image ion-no-border">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="showOptions()">
        <ion-icon slot="icon-only" name="ellipsis-vertical">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="chart-container">
    <app-chart *ngIf="chartValue || chartValue === 0" [free]="chartValue"
      [capacity]="chartMaxValue" [suffix]="chartSuffix" [description]="chartText" type="large"></app-chart>
  </div>

  <!-- Title Bar -->
  <div class="title-bar-container">
    <ion-card class="title-bar">
      <p class="title">{{ details?.name || '---' }}</p>
      <p class="subtitle">
        {{ (details?.distance / 1000 | number:'1.2-2':'de') || 'berechnen...' }}
        <span *ngIf="details?.distance"> km</span>
      </p>
    </ion-card>
  </div>

</ion-header>

<ion-content #content>

  <ion-list>

    <p class="subtitle">Details</p>

    <!-- PROBABILITY -->
    <ion-card *ngIf="details?.freeSpots || details?.parkingProbability">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h3 [style.color]="details.indicatorColor">Es besteht eine <b>{{details.parkingProbabilityText}}</b> einen
            freien Parkplatz zu bekommen.</h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- PRICING -->
    <ion-card *ngIf="details?.pricing">
      <ion-item lines="none">
        <ion-icon name="logo-euro" slot="start" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Preise</p>
          <h3 [innerHTML]="details.pricing"></h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- OPENING HOURS -->
    <ion-card *ngIf="details?.openingTimes">
      <ion-item lines="none">
        <ion-icon name="time" slot="start" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Öffnungszeiten</p>
          <h3 [innerHTML]="details.openingTimes"></h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- PAYMENT -->
    <ion-card *ngIf="details?.paymentMethods">
      <ion-item lines="none">
        <ion-icon name="wallet" slot="start" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Bezahlung</p>
          <h3 [innerHTML]="details.paymentMethods"></h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- FEATURES -->
    <ion-card>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle" slot="start" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Besonderheiten</p>
          <h3 *ngFor="let feature of details?.features">{{ feature }}</h3>
          <h3 *ngIf="details?.facilityType">{{ details.facilityType }}</h3>
          <h3 *ngIf="details?.maxHeight">Einfahrtshöhe: {{ details.maxHeight | number:'1.2-2' }} m</h3>
          <h3 *ngIf="details?.maxParkingTime">Max. Parkdauer: {{ details.maxParkingTime }} min</h3>
          <h3 *ngIf="details?.freeSpots">Freie Parkplätze: ~{{ details.freeSpots }}</h3>
          <h3 *ngIf="details?.handicappedSpots">Behindertenparkplätze: {{ details.handicappedSpots }}</h3>
          <h3 *ngIf="details?.allSpots">Parkplätze Gesamt: {{ details.allSpots }}</h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- ADDRESS -->
    <ion-card *ngIf="details?.address">
      <ion-item lines="none">
        <ion-icon name="location" slot="start" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Adresse</p>
          <h3 [innerHTML]="details.address"></h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- EXTRA INFOS -->
    <ion-card *ngIf="details?.extras">
      <ion-item lines="none">
        <ion-icon name="information-circle" slot="start" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Weitere Infos</p>
          <h3><span [innerHtml]="details?.extras.slice(0, 80)"></span><span
              *ngIf="details?.extras?.length > 80">...</span></h3>
          <h3 *ngIf="details?.extras?.length > 80"><u (click)="displayExtraInfo()">mehr ...</u></h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-button expand="full" fill="clear" color="primary" size="small" (click)="writeEmail()">Fehlerhafte Daten?</ion-button>

  </ion-list>

  <ng-container *ngIf="isProUser">
    <div class="line-divider"></div>
    <span class="bliq-text">In Kooperation mit</span>
    <img class="bliq-logo" src="/assets/images/bliq-logo.png" (click)="openPartnerWebsite()">
  </ng-container>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="secondary"
      (click)="openNavigator(details.location)">
      Navigation
    </ion-button>
  </ion-toolbar>
</ion-footer> -->