<ion-content #content [fullscreen]="true">

  <div class="safe-area"></div>

  <img class="hero-image" src="/assets/onboarding/undraw_city_driver_jh2h.svg">

  <h1 class="heading">Willkommen</h1>
  <p class="intro">Mit LiveParking findest Du nicht nur schnell eine Parkmöglichkeit, sondern hilfst auch
    Parkplatzprobleme zu bekämpfen.</p>

  <ion-list lines="none" class="features">
    <ion-item *ngFor="let feature of features">
      <ion-icon slot="start" name="checkmark-circle" color="primary"></ion-icon>
      <ion-label>{{ feature }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="acceptables">
    <!-- Empty item to show border above list -->
    <ion-item style="--min-height: 0px;"></ion-item>
    <ion-item>
      <ion-label>Ortungsdienste</ion-label>
      <ion-button fill="clear" color="primary" (click)="showLocationServicesNotice()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-toggle [(ngModel)]="locationServicesEnabled" (ionChange)="activateLocationServices()" slot="end"
        color="success"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>AGB akzeptieren</ion-label>
      <ion-button fill="clear" color="primary" (click)="openTerms()">
        <ion-icon slot="icon-only" name="link-outline"></ion-icon>
      </ion-button>
      <ion-toggle [(ngModel)]="termsAccepted" slot="end" color="success"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-button color="secondary" expand="block" fill="clear" size="small" class="support-button" (click)="writeEmail()">Probleme? Schreib' uns!</ion-button>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" color="primary" [disabled]="!termsAccepted"
      (click)="!locationServicesEnabled ? noticeActivateLocationServices() : close()">
      Weiter
    </ion-button>
  </ion-toolbar>
</ion-footer>