img.hero-image {
  padding: 0 24px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

h1.heading {
  font-weight: 700;
  margin-left: 30px;
  margin-right: 30px;
}

.safe-area {
  height: var(--ion-safe-area-top, 0);
  min-height: 20px;
}

p.intro {
  font-size: 15px;
  margin: 10px 30px 20px 30px;
}

ion-list.features {
  margin-left: 10px;
  margin-right: 30px;

  ion-item {
    --min-height: 34px;

    ion-icon {
      margin: 0 10px 0 0;
    }

    ion-label {
      margin: 0;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

ion-list.acceptables {
  margin: 20px 30px 0 14px;

  ion-item {
    --border-color: #eaeaea;
  }

  ion-toggle {
    margin-right: -20px;
  }
}

ion-footer {
  ion-toolbar {
    box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.support-button {
  opacity: 0.6;
  margin-top: 14px;
}
