<ion-card class="searchbar">
  <ion-searchbar #searchbar animated autocorrect placeholder="Adresse suchen..." (ionChange)="search($event)" (ionClear)="clearSearch()" (ionFocus)="onFocusEvent()" debounce="500" [disabled]="disabled"></ion-searchbar>
</ion-card>
<div class="loading" *ngIf="loadingActive">
  <ion-spinner color="primary"></ion-spinner>
</div>
<ion-card class="search-results" *ngIf="searchResults !== null">
  <ion-list lines="none">
    <ion-item *ngFor="let searchResult of searchResults" (click)="moveMapToSearchResult(searchResult)">
      <ion-label>
        <p>{{ searchResult?.description }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="searchResults?.length === 0">
      <ion-label>
        <p>Keine Ergebnisse</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>