ion-card.searchbar {
  margin-top: 0;
  border-radius: 30px;
  --background: white;
  ion-searchbar {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    --background: transparent;
  }
}

.loading {
  display: block;
  margin: 0 auto;
  position: relative;
  background: white;
  width: fit-content;
  border-radius: 100px;
  padding: 4px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;
}

ion-card.search-results {
  background: white;
  margin-top: -10px;
  ion-item {
    --min-height: 0;
    --height: 20px;
  }
  p {
    color: var(--ion-color-dark);
  }
}