<ion-card>
  <ion-item lines="full">
    <ion-label>
      <h2 [ngClass]="{'italic' : !input?.name}">{{ input?.name || 'Kein Name' }}</h2>
      <p [ngClass]="{'italic' : !input?.address}">{{ input?.address || 'Keine Straße' }}</p>
      <!-- • {{ input?.properties?.parkingEntity?.capacity }} Plätze gesamt -->
    </ion-label>
    <ion-thumbnail slot="end">
      <!-- input?.properties?.parkingEntity?.occupancy?.occupancyPredicted?.parkingProbability -->
      <div class="indicator">

        <div *ngIf="showFreeSpots">
          <h1 [style.color]="input?.indicatorColor" class="free-spots">{{ input.freeSpots }}</h1>
          <p [style.color]="input?.indicatorColor">Freie Plätze</p>
        </div>

        <div *ngIf="showChance">
          <h1 [style.color]="input?.indicatorColor" class="probability">{{ input.parkingProbability }}%</h1>
          <p [style.color]="input?.indicatorColor">Chance</p>
        </div>

        <div *ngIf="showNoData">
          <h1 [style.color]="input?.indicatorColor" class="not-available">?</h1>
          <p [style.color]="input?.indicatorColor">Keine Daten</p>
        </div>

        <div *ngIf="showText">
          <span class="custom-badge" [style.color]="input?.indicatorColor"
            [style.border-color]="input?.indicatorColor">{{ input.freeSpotsText }}</span>
        </div>
      </div>
    </ion-thumbnail>
  </ion-item>
  <ion-item lines="none">
    <ion-note slot="start">
      <ion-icon name="location" color="primary"></ion-icon> {{ (input?.distanceByLocation / 1000 | number:'1.2-2') || 'N/a' }} km entfernt
    </ion-note>
    <ion-note slot="end">
      <span *ngIf="input?.pricingShort && input.state !== 'CLOSED'">{{ input.pricingShort }}</span>
      <!-- <span *ngIf="!input?.pricingShort && input.state !== 'CLOSED'">N/A €</span> -->
      <span *ngIf="input?.state === 'CLOSED'">Geschlossen</span>
    </ion-note>
  </ion-item>
</ion-card>