ion-note {
  font-size: 13px;
  --color: var(--ion-color-secondary);
}

ion-card {
  margin: 16px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 16px;
  --background: var(--ion-color-light);
}

ion-icon {
  margin-bottom: -2px;
}

ion-item {
  h2,
  h3 {
    font-weight: 500;
  }
  --border-color: #f0f0f0;

  &:nth-child(2) {
    --min-height: 34px;
  }
}

ion-thumbnail {
  width: 80px;
  height: 50px;
  margin-left: 0;
  margin-right: 0;
}

.indicator {
  position: relative;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 1.8em;
    font-weight: normal;
  }

  p {
    margin: 0;
    font-size: 0.6em;
    text-transform: uppercase;
  }
}

.indicator-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 13px;
  transform: translateY(-50%);
  color: var(--ion-color-primary);
}

.custom-badge {
  display: block;
  margin-top: 18px;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 2px;
  width: 78px;
  transform: rotate(20deg);

  &.green {
    color: var(--ion-color-indicator-green);
    border-color: var(--ion-color-indicator-green);
  }
  &.red {
    color: var(--ion-color-indicator-red);
    border-color: var(--ion-color-indicator-red);
  }
}

.italic {
  font-style: italic;
}
