<ion-header class="ion-no-border">
  <ion-toolbar class="ion-shadow-bottom">
    <ion-title color="dark">LiveParking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="ion-no-background">
      <ion-title color="light">LiveParking</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="bg-container" [ngClass]="{'pro' : isProUser}"></div>

  <upsell-card [subtitle]="'LiveParking Pro'" [showShadow]="true" routerLink="/buy-pro" routerDirection="forward" *ngIf="!isProUser"></upsell-card>

  <ion-card class="pro-user-info-card" *ngIf="isProUser" (click)="isProUser ? proUserActionSheet() : ''">
    <h5>Du bist PRO-Nutzer</h5>
    <p>In Kooperation mit Bliq.ai</p>
    <img src="/assets/images/bliq-logo.png">
  </ion-card>

  <p class="divider-text">KARTE</p>

  <ion-card class="custom" [button]="!isProUser" (click)="upsellElem()">
    <ion-item lines="none">
      <ion-label>
        <h2>On-Street Parkplätze <ion-badge class="inline" *ngIf="!isProUser">PRO</ion-badge></h2>
        <p>Parkplätze am Straßenrand</p>
      </ion-label>
      <ion-note slot="end" class="small" [color]="mapShowOnStreetParking ? 'success' : 'danger'">{{ mapShowOnStreetParking ? 'AKTIV' : 'INAKTIV' }}</ion-note>
      <!-- <ion-toggle color="success" [(ngModel)]="mapShowOnStreetParking" (ionChange)="setOnStreetParkingSetting()" [disabled]="!isProUser"></ion-toggle> -->
    </ion-item>
  </ion-card>

  <ion-card class="custom">
    <ion-item lines="none">
      <ion-label>
        <h2>Off-Street Parkplätze</h2>
        <p>Parkhäuser, Tiefgaragen...</p>
      </ion-label>
      <ion-note slot="end" class="small" [color]="mapShowOffStreetParking ? 'success' : 'danger'">{{ mapShowOffStreetParking ? 'AKTIV' : 'INAKTIV'}}</ion-note>
      <!-- <ion-toggle color="success" [(ngModel)]="mapShowOffStreetParking" (ionChange)="setOffStreetParkingSetting()"></ion-toggle> -->
    </ion-item>
  </ion-card>

  <!-- <ion-card class="custom">
    <ion-item lines="none">
      <ion-label>
        <h2>Ladesäulen</h2>
        <p>Zeige Ladesäulen auf der Karte</p>
      </ion-label>
      <ion-toggle color="success"></ion-toggle>
    </ion-item>
  </ion-card> -->

  <ion-card class="custom">
    <ion-item lines="none">
      <ion-label>
        <h2>Verkehr einblenden</h2>
        <p>Nicht kompatibel mit On-Street</p>
      </ion-label>
      <ion-toggle [(ngModel)]="mapShowTraffic" (ionChange)="enableMapTraffic($event.detail.checked)" color="success"></ion-toggle>
    </ion-item>
  </ion-card>

  <ion-card class="custom">
    <ion-item lines="none">
      <ion-label>
        <h2>Satellitenansicht</h2>
        <p>Auf Satellitenansicht wechseln</p>
      </ion-label>
      <ion-toggle [(ngModel)]="mapStyleIsSatellite" (ionChange)="changeMapStyle()" color="success"></ion-toggle>
    </ion-item>
  </ion-card>

  <!-- <ion-card class="custom">
    <ion-item lines="none">
      <ion-label>
        <h2>Ergebnisse sortieren</h2>
      </ion-label>
    </ion-item>
    <ion-segment>
      <ion-segment-button value="distance">
        <ion-label>Distanz</ion-label>
      </ion-segment-button>
      <ion-segment-button value="name">
        <ion-label>Name</ion-label>
      </ion-segment-button>
      <ion-segment-button value="free">
        <ion-label>Frei</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card> -->

  <p class="divider-text">GENERELL</p>

  <ion-card class="custom" routerDirection="forward" routerLink="/citylist" button>
    <ion-item lines="none" detail>
      <ion-label>
        <h2>Partnerstädte</h2>
        <p>Kostenlos verfügbare Städte</p>
      </ion-label>
    </ion-item>
  </ion-card>




  <!--
  <p class="divider-text">Tools</p>
  -->


  <!-- <ion-card class="custom" (click)="parkingPosOptions()" >
    <ion-item lines="none" detail>
      <ion-label>
        <h2>Autofinder</h2>
        <p>Speicher’ die Position Deines Autos</p>
      </ion-label>
    </ion-item>
  </ion-card> -->

  <p class="divider-text">MEHR</p>

  <ion-card button class="custom" (click)="writeEmail()">
    <ion-item lines="none" detail>
      <ion-label>
        <h2 style="font-weight: 800;">Feedback senden</h2>
        <p>Wir freuen uns über Ideen, Lob & Kritik</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card button class="custom" routerLink="/faq" routerDirection="forward">
    <ion-item lines="none" detail>
      <ion-label>
        <h2>FAQ</h2>
        <p>Häufig gestellte Fragen</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-card class="custom">
    <ion-item lines="none" detail>
      <ion-label>
        <h2>Mehr kostenlose Städte</h2>
        <p>Hilf uns, LiveParking zu verbessern</p>
      </ion-label>
    </ion-item>
  </ion-card> -->

  <!-- <ion-card class="custom">
    <ion-item lines="none" detail>
      <ion-label>
        <h2>Käufe wiederherstellen</h2>
        <p>„PRO“ auf einem anderen Gerät gekauft?</p>
      </ion-label>
    </ion-item>
  </ion-card> -->

  <ion-card class="custom">
    <ion-item lines="none">
      <ion-label>
        <h2>Version</h2>
      </ion-label>
      <ion-note slot="end">{{ appInfo['version'] }} ({{ appInfo['code'] }})</ion-note>
    </ion-item>
  </ion-card>

  <ng-container *ngIf="showDevTools">
    <p class="divider-text">ENTWICKLER</p>

    <ion-card class="custom" button (click)="clearStorage()">
      <ion-item lines="none">
        <ion-label>
          <h2>Storage leeren</h2>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>

  <div class="legal-info">
    <span (click)="openBrowser('https://liveparking.eu/legal/terms/')">AGB</span> • <span
      (click)="openBrowser('https://liveparking.eu/legal/privacy/')">Datenschutz</span> • <span
      (click)="openBrowser('https://liveparking.eu/legal/imprint/')">Impressum</span>
  </div>

  <div class="bottom-safe-area"></div>

</ion-content>