ion-content > ion-header {
  margin-bottom: 10px;
}

ion-content > ion-header > ion-toolbar {
  padding-top: calc(3px + var(--ion-safe-area-top, 0));
}

ion-content {
  position: absolute;
}

ion-title {
  font-family: ChaletLondonNineteenSeventy;
  font-size: 1.6em;
  font-weight: 500;
}

.bg-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 180px;
  background: url('/assets/images/bg-dark.png') center top / cover no-repeat;

  &.pro {
    height: calc(90px + var(--ion-safe-area-top, 0));
  }
}

ion-card.custom {
  padding: 4px;
  border-radius: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  --background: white;
  ion-item {
    --padding-start: 14px;
  }
}

ion-note.small {
  font-size: 0.8em;
}

.divider-text {
  color: #bababa;
  font-size: 13px;
  text-align: center;
  margin: 18px 0;
}

.legal-info {
  span {
    text-decoration: underline;
  }
  color: #c9c9c9;
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

// BADGE

ion-badge.inline {
  transform: scale(0.8);
  margin-bottom: -3px;
  margin-left: -4px;
}

.bottom-safe-area {
  height: calc(40px + var(--ion-safe-area-bottom));
}

ion-card.pro-user-info-card {
  padding: 14px 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 16px;
  --background: white;

  h5,
  p {
    margin: 0;
    color: var(--ion-color-primary);
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 12px;
  }

  img {
    width: 70px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
