<ion-slides [options]="slideOpts" #slides>
  <ion-slide>
    <div class="form-content">
      <ion-item lines="none" class="heading">
        <ion-label>Stadt nicht dabei?</ion-label>
        <ion-button fill="clear" (click)="infoCityRequest()">
          <ion-icon slot="icon-only" name="information-circle-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="city-input">
        <!-- the following looks stupid, but will prevent the page to stutter on scroll -->
        <ion-input [(ngModel)]="userCityName" [placeholder]="!evaluatedCity ? 'Name der Stadt' : ''"></ion-input>
        <ion-icon *ngIf="!loadingActive" name="send" slot="end" color="primary" (click)="checkCityRequestInput()">
        </ion-icon>
        <ion-spinner *ngIf="loadingActive" slot="end" color="primary"></ion-spinner>
      </ion-item>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="form-content">
      <ion-row class="ion-text-center">
        <ion-col>
          <h2>Richtig?</h2>
          <p>Ist dies die richtige Stadt:<br><strong style="font-size: 18px;">{{evaluatedCity}}</strong></p>
        </ion-col>
      </ion-row>
      <ion-row class="buttons">
        <ion-col>
          <ion-button color="primary" fill="outline" expand="block" size="small" (click)="resultWrong()">Falsch
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="block" size="small" (click)="resultRight()">Richtig</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="form-content">
      <ion-item lines="none" class="heading">
        <ion-label>Wir melden uns</ion-label>
        <ion-button fill="clear" (click)="emailInfo()">
          <ion-icon slot="icon-only" name="information-circle-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="city-input">
        <!-- the following looks stupid, but will prevent the page to stutter on scroll -->
        <ion-input [(ngModel)]="userEmail" [placeholder]="evaluatedCity ? 'E-Mail Adresse' : ''" #email></ion-input>
        <ion-icon *ngIf="!loadingActive" name="send" slot="end" color="primary" (click)="submitForm()">
        </ion-icon>
        <ion-spinner *ngIf="loadingActive" slot="end" color="primary"></ion-spinner>
      </ion-item>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="form-content">
      <ion-item lines="none" class="heading ion-text-wrap">
        <ion-label>Anfrage gesendet <ion-icon name="checkmark-circle" color="success"></ion-icon></ion-label>
      </ion-item>
      <p>Vielen Dank. Wir setzen uns mit der Stadt bzgl. einer möglichen Integration in Verbindung. Dies wird einige Tage in Anspruch nehmen.</p>
      <ion-row class="buttons">
        <ion-col style="padding-left: 0">
          <ion-button style="margin-left: 0" color="primary" fill="outline" expand="block" size="small" (click)="openContactForm()">Support
          </ion-button>
        </ion-col>
        <ion-col style="padding-right: 0">
          <ion-button style="margin-right: 0" color="primary" expand="block" size="small" (click)="navigateToFaq()">F.A.Q.</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>
</ion-slides>