.swiper-slide {
  text-align: left;
}

ion-item.heading {
  font-weight: bold;
  --min-height: 0;
  ion-label {
    margin: 12px 0;
  }
}

ion-item.city-input {
  --border-radius: 14px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #bfbfbf;
  --inner-border-width: 0;
  margin: 0 16px;
}

ion-label > ion-icon {
  margin-bottom: -2px;
}

img {
  height: 60px;
  margin-top: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 14px;
  opacity: 0.85;
}

p {
  color: grey;
  font-size: 14px;
  margin: 0 20px 10px 20px;
}

.error-message {
  color: red;
}

ion-row.buttons {
  margin: 0 5% 10px 5%;

  ion-col {
    padding: 2px;

    button {
      border-width: 2px;
    }
  }
}

img.checkmark {
  width: 200px;
  height: 200px;
}

ion-slides {
  width: 100%;
}

ion-slide {
  width: 100%;
}

.form-content {
  width: 100vw;
}
