<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-background">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="button-coupon" fill="clear" color="light" (click)="openCouponAlert()" [disabled]="isProUser">
        <ion-icon name="gift-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #detailsContent>

  <div class="heading-container">
    <div class="heading">
      <h1>LiveParking <span class="title-pro-badge">PRO</span></h1>
      <p class="subtitle"><span style="opacity: 0.8;">In Kooperation mit&nbsp;&nbsp;</span><img class="bliq-logo"
          src="/assets/images/bliq-logo-light.png" (click)="openBrowser('https://bliq.ai')"></p>
    </div>
  
    <!-- <ion-card class="pricing-plans" [disabled]="isProUser">
      <h1>Nur {{ products[selectedPriceIndex]?.product?.price_string }}</h1>
      <p>PRO MONAT</p>
    </ion-card>   -->
  </div>

  <ion-list class="features" lines="full">
    <ion-item *ngFor="let feature of features">
      <ion-icon color="primary" slot="start" [src]="feature.iconPath"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h3>{{ feature.name }}</h3>
        <p>{{ feature.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button color="primary" fill="clear" size="small" expand="block" style="margin: 10px 20px 0 20px;font-size: 11px;" (click)="showInfoDialog()">Was ist der Unterschied zur kostenlosen Version?</ion-button>

  <p class="legal-info">
    Es gilt unsere AGB und Datenschutzerklärung. Bei einem Kauf wird Dein iTunes Konto mit der Zahlung belastet und Dein Abonnement verlängert sich automatisch um den gleichen Zeitraum und der den gleichen Preis, bis Du es in den iTunes Store Einstellungen kündigst, mindestens 24 Stunden vor Ablauf des aktuellen Zeitraums.
    <br><br>
    <b><u (click)="openBrowser('https://liveparking.eu/legal/terms/')">Geschäftsbedingungen</u></b>
  </p>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="discount-text">
      <h2>14 Tage kostenlos testen</h2>
      <p *ngIf="offerings">danach {{ offerings?.current.monthly.product.price_string }} im Monat</p>
      <p *ngIf="!offerings">laden...</p>
    </div>
    <ion-button expand="block" color="primary" class="buy-button" (click)="buyProduct()" [disabled]="isProUser || !offerings || showLoadingIndicator">
      <span *ngIf="offerings && !showLoadingIndicator">{{ isProUser ? 'Du bist PRO-Nutzer' : 'Kostenlosen Test beginnen' }}</span>
      <ion-spinner *ngIf="offerings && showLoadingIndicator" color="light"></ion-spinner>
      <span *ngIf="!offerings">laden...</span>
    </ion-button>
    <ion-button expand="block" color="primary" fill="clear" size="small" (click)="restorePurchase()" [disabled]="isProUser || !offerings || showLoadingIndicator">
      Bereits gekauft?
    </ion-button>
  </ion-toolbar>
</ion-footer>