ion-header {
  ion-toolbar {
    ion-title {
      font-family: ChaletLondonNineteenSeventy;
      font-size: 1.5em;
      opacity: 1;
    }
  }
}

ion-content {
  --padding-top: 0;
}

ion-footer {
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
}

.heading-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.heading {
  h1 {
    margin: 0;
    color: white;
    font-family: ChaletLondonNineteenSeventy;
    font-size: 1.6em;
  }
  p.subtitle {
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: -0.5px;
  }

  position: relative;
  width: 100%;
  padding-top: calc(20px + var(--ion-safe-area-top, 0));
  padding-bottom: 40px;
  text-align: center;
  background: linear-gradient(162deg, rgba(32, 37, 54, 0.8) 20%, rgba(32, 37, 54, 0.8) 100%), url('/assets/images/aipark-berlin-benchmark.gif') center top -50px / cover no-repeat;
}

.bliq-logo {
  width: 38px;
  margin-bottom: -4px;
  opacity: 0.8;
}

ion-card.pricing-plans {
  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
  }
  p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 700;
  }
  transform: scale(0.9);
  color: #272d40 !important;
  border-radius: 20px;
  padding: 8px 0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 1;
  margin: -30px auto 10px auto;
  max-width: 250px;
}

ion-list.features {
  ion-icon {
    font-size: 48px;
  }
  h3 {
    font-weight: bold;
    font-size: 17px;
    color: var(--ion-color-primary);
  }

  p {
    font-size: 13px;
    color: var(--ion-color-primary);
  }

  ion-item {
    --inner-padding-top: 4px;
    --inner-padding-bottom: 4px;
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-color: #dcdcdc;
  }

  padding: 0 7%;
  margin-top: calc(120px + var(--ion-safe-area-top));
}

.discount-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--ion-color-primary);
  h2 {
    margin: 0;
    font-weight: bolder;
    font-size: 18px;

    .old-price {
      text-decoration: line-through;
      color: #888888;
      font-weight: 500;
      font-size: 0.8em;
    }
  }
  p {
    margin: 0;
    font-size: 0.8em;
  }
}

ion-button.buy-button {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.legal-info {
  margin: 10px 24px;
  text-align: center;
  font-size: 11px;
  color: #bababa;
  margin-top: 30px;
}
