ion-list {
  padding-bottom: 20px;
}

ion-spinner {
  display: block;
  margin: 20px auto;
}

.separator {
  display: flex;
  padding: 20px;
  align-items: center;
  text-align: center;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}
.separator::before {
  margin-right: 0.5em;
}
.separator::after {
  margin-left: 0.5em;
}

ion-item, ion-item-group {
  animation: popIn 0.2s calc(var(--animation-order) * 70ms) both ease-in;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}