<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Partnerstädte</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="showInfoDialog()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>

  <ion-spinner *ngIf="!cityList.length"></ion-spinner>

  <ion-list>

    <ion-item-group *ngFor="let item of cityList; let i_countries = index;" [style.--animation-order]="i_countries">
      <ion-item-divider>
        <ion-label>{{ item.country }}</ion-label>
      </ion-item-divider>

      <ion-radio-group [(ngModel)]="selectedCitySlug">
        <ion-item *ngFor="let city of item.cities; let i_cities = index;" [style.--animation-order]="i_countries + i_cities" (click)="setCity(city)">
          <ion-label>
            <h2>{{ city?.name }}</h2>
            <p *ngIf="city?.distance">{{ city?.distance / 1000 | number:'1.2-2' }} km</p>
          </ion-label>
          <ion-radio slot="end" [value]="city?.slug"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item-group>

  </ion-list>

  <div class="animate__animated animate__fadeIn" *ngIf="cityList.length">

    <!-- <city-request></city-request> -->

    <!-- <div class="separator">oder</div> -->

    <upsell-card [showBorder]="true" routerLink="/buy-pro" routerDirection="forward"></upsell-card>

  </div>

</ion-content>