<ion-tabs>

  <ion-tab-bar slot="bottom" id="main-tabs">
    <ion-tab-button tab="home">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>Karte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
      <ion-label>Mehr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
