ion-tab-bar {
    --border: none;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    min-height: 60px;
    border-radius: 18px 18px 0 0;
    box-shadow: 0px -5px 12px 0px rgba(0, 0, 0, 0.04);
}

ion-tab-button {
    &:first-child {
        border-top-left-radius: 18px;
    }

    &:last-child {
        border-top-right-radius: 18px;
    }

    ion-label {
      font-size: 11px;
      margin-top: -2px;
    }
}
