<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="title">Feedback</h1>
    <p class="subtitle">Wie findest Du die App?</p>
  </ion-toolbar>
  <ion-toolbar>
    <ion-card class="rating">
      <ion-segment (ionChange)="segmentChanged($event)" class="emojis">
        <ion-segment-button value="1">
          <ion-label>😢</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>😕</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>😶</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4">
          <ion-label>😃</ion-label>
        </ion-segment-button>
        <ion-segment-button value="5">
          <ion-label>😍</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="divider-text">Schreib' uns</p>

  <ion-card class="text-field">
    <ion-item class="custom" lines="none">
      <ion-input [(ngModel)]="sender.name" placeholder="Vorname" autocapitalize="on" autocomplete="on" autocorrect="on">
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-card class="text-field">
    <ion-item class="custom" lines="none">
      <ion-input [(ngModel)]="sender.email" type="email" inputmode="email" placeholder="E-Mail Adresse"
        autocapitalize="on" autocomplete="on" autocorrect="on"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card class="text-field">
    <ion-item lines="none">
      <ion-textarea [(ngModel)]="sender.message" rows="8" required
        placeholder="Was gefällt Dir? Was könnte besser sein?" autocapitalize="on" autocomplete="on" autocorrect="on">
      </ion-textarea>
    </ion-item>
  </ion-card>

  <div class="submit-button-container">
    <ion-button color="primary" expand="block"
      [disabled]="!sender.name.length || !sender.email.length || !sender.message.length" (click)="submitFeedback()">
      <span *ngIf="!showLoading">Senden</span>
      <ion-spinner color="light" *ngIf="showLoading"></ion-spinner>
    </ion-button>
  </div>

</ion-content>