ion-header {
  height: calc(144px + var(--ion-safe-area-top, 0));
  background: url('/assets/images/bg-dark.png') center top / cover no-repeat;

  ion-toolbar {
    --background: transparent;
  }
}

ion-content {
  --padding-top: 30px;
  --background: #f8f9f9;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin: 0 18px;
}

.subtitle {
  margin: 0 18px;
  color: white;
  opacity: 0.8;
}

ion-card.rating {
  width: 100%;
  border-radius: 40px;
  margin: 10px 5px 16px 5px;
  --background: white;

  ion-segment-button {
    min-width: 50px;
  }
}

ion-card.text-field {
  border-radius: 16px;
  margin-top: 12px;
  margin-bottom: 12px;

  ion-item.custom {
    --border-color: transparent;
    --background: white;
    --border-radius: 16px;
    --padding-top: 4px;
    --padding-bottom: 4px;
  }
}

.divider-text {
  color: #bababa;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.item-border-top {
  border-top: solid #c8c7cc 0.5px;
}

ion-segment {
  ion-segment-button {
    font-size: 30px;
  }
  height: 50px;
  --background-checked: #efefef;
  --border-color: #efefef;
}

ion-input,
ion-textarea {
  font-size: 14px;
  --placeholder-color: #9f9f9f;
}

.submit-button-container {
  margin: 20px;
}
