// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

    /** primary **/
    --ion-color-primary: #4F536A;
    --ion-color-primary-rgb: 79,83,106;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #46495d;
    --ion-color-primary-tint: #616479;

    /** secondary **/
    --ion-color-secondary: #646881;
    --ion-color-secondary-rgb: 100,104,129;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #585c72;
    --ion-color-secondary-tint: #74778e;

    /** tertiary **/
    --ion-color-tertiary: #646979;
    --ion-color-tertiary-rgb: 100, 105, 121;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #585c6a;
    --ion-color-tertiary-tint: #747886;

    /** success **/
    --ion-color-success: #54b742;
    --ion-color-success-rgb: 84,183,66;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #4aa13a;
    --ion-color-success-tint: #65be55;

    /** warning **/
    --ion-color-warning: rgba(219, 152, 93, 0.2);
    --ion-color-warning-rgb: 240, 233, 219;
    --ion-color-warning-contrast: rgb(219, 152, 93);
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #d3cdc1;
    --ion-color-warning-tint: #f2ebdf;

    /** danger **/
    --ion-color-danger: #b70000;
    --ion-color-danger-rgb: 183,0,0;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #a10000;
    --ion-color-danger-tint: #be1a1a;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #DDDDDD;
    --ion-color-medium-rgb: 221,221,221;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #c2c2c2;
    --ion-color-medium-tint: #e0e0e0;

    /** light **/
    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 100,104,129;
    --ion-color-light-contrast: #646881;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #e0e0e0;
    --ion-color-light-tint: #ffffff;


    --ion-color-green: #a0c85a;
    --ion-color-green-rgb: 160,200,90;
    --ion-color-green-contrast: #ffffff;
    --ion-color-green-contrast-rgb: 0,0,0;
    --ion-color-green-shade: #8db04f;
    --ion-color-green-tint: #aace6b;

    --ion-color-red: #ec5552;
    --ion-color-red-rgb: 236,85,82;
    --ion-color-red-contrast: #000000;
    --ion-color-red-contrast-rgb: 0,0,0;
    --ion-color-red-shade: #d04b48;
    --ion-color-red-tint: #ee6663;


    // Occupancy Indicators

    --ion-color-indicator-green: #70bf3d;
    --ion-color-indicator-green-rgb: 112,191,61;
    --ion-color-indicator-green-contrast: #000000;
    --ion-color-indicator-green-contrast-rgb: 0,0,0;
    --ion-color-indicator-green-shade: #63a836;
    --ion-color-indicator-green-tint: #7ec550;

    --ion-color-indicator-red: #b70000;
    --ion-color-indicator-red-rgb: 183,0,0;
    --ion-color-indicator-red-contrast: #ffffff;
    --ion-color-indicator-red-contrast-rgb: 255,255,255;
    --ion-color-indicator-red-shade: #a10000;
    --ion-color-indicator-red-tint: #be1a1a;

}