<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img src="/assets/gif/heart.gif">
  <ion-card>
    <ion-card-content>
      <ion-card-title>Bitte bewerte LiveParking</ion-card-title>
      <ion-card-subtitle>Das dauert nur eine Minute</ion-card-subtitle>
      <p>&nbsp;</p>
      <p>Mit einer positiven Bewertung im App Store hilfst Du uns unseren Service aufrecht zu erhalten und nachhaltig für freiere Straßen und einen geringeren CO2-Ausstoß zu sorgen.</p>
      <p>&nbsp;</p>
      <ion-button expand="block" fill="solid" (click)="rateApp()">
        Bewertung schreiben
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>