ion-content {
  --background: #fffcf9;
  position: absolute; // Otherwise "fullscreen" wouldn't work
}

ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

img {
  display: block;
  margin: -40px auto 0;
  width: 100%;
  max-width: 400px;
}

ion-card {
  width: 90%;
  max-width: 440px;
  margin: -50px auto 0;
  text-align: center;

  ion-card-title {
    font-size: 20px;
  }

  ion-card-content {
    ion-button[fill="solid"] {
      --background: #ef4a5a;
    }
  }
}
