ion-toolbar {
  --background: transparent;
}

ion-content {
  position: absolute;
}

ion-title {
  font-family: ChaletLondonNineteenSeventy;
  font-size: 1.4em;
  font-weight: 500;
  --color: white;
  // iPhone 5
  @media screen and (device-aspect-ratio: 40/71) {
    font-size: 1.2em;
  }
}

span.subtitle {
  display: block;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: -10px;
}

ion-slides {
  position: fixed;
  z-index: 10 !important;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: calc(60px + var(--ion-safe-area-bottom, 0)) !important;

  ion-slide {
    display: block;
    text-align: left;
  }
}

div.searchbar-container {
  position: relative;
  max-width: 500px;
  margin: -20px auto 0 auto;
}

.hero-container {
  height: calc(70px + var(--ion-safe-area-top, 0));
  background: rgba(39, 45, 64, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.upsell-text {
  * {
    display: block;
  }
  position: relative;
  text-align: center;
  padding: 2px;
}

.loading {
  display: block;
  margin: 0 auto;
  position: relative;
  background: white;
  width: fit-content;
  border-radius: 100px;
  padding: 4px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;
  text-align: center;
}

.no-results {
  display: block;
  margin: 0 auto;
  position: relative;
  background: white;
  width: fit-content;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;
  text-align: center;
  max-width: 80%;
  padding: 4px 10px;
  p {
    opacity: 0.4;
    font-size: 11px;
    padding: 0 6px;
    margin: 6px 0;
  }
}
