<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="showUserLocationOnMap()">
        <ion-icon slot="icon-only" name="locate" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      LiveParking <span class="title-pro-badge" *ngIf="isProUser">PRO</span>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="showListViewPage()">
        <ion-icon slot="icon-only" name="list-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="map_canvas" [fullscreen]="true" [forceOverscroll]="false">
  <!-- Add some extra blue space under the header-->
  <div class="hero-container"></div>
  <!-- START Searchbar -->
  <div class="searchbar-container">
    <app-searchbar #searchbar (onFocus)="showZoomNotice(false);showResultsNotice(false);showLoading(false)" (onSearchResultClick)="originLocation = $event; rest = [];"></app-searchbar>
  </div>
  <!-- Loading Indicator-->
  <div class="loading" *ngIf="loadingActive">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <!-- Info no Results-->
  <div class="no-results" *ngIf="noResults && !zoomNotice">
    <h6 style="margin: 6px 0 0 0;">Keine Ergebnisse</h6>
    <p>Die Region in der Du Dich befindest scheint nicht in LiveParking erfasst zu sein.</p>
    <ion-button color="primary" fill="clear" expand="block" size="small" (click)="openCityList()">Verfügbare Städte</ion-button>
  </div>
  <!-- Info Zoom -->
  <div class="no-results" *ngIf="zoomNotice">
    <h6 style="margin: 0;">Heranzoomen um Daten zu laden</h6>
  </div>


  <!-- END Searchbar -->
  <!-- START Slider -->
  <ion-slides (ionSlideDidChange)="syncSlideInfo()" class="ion-text-left" #locations>
    <ion-slide [id]="item?.id" *ngFor="let item of rest; let i = index;">
      <!-- Hide slider content if not in visible area to increase performance and prevent stuttering -->
      <carousel-item [input]="item" (click)="openDetails(item)" [hidden]="i < activeSlideIndex - 5 || i >= activeSlideIndex + 5"></carousel-item>
    </ion-slide>
  </ion-slides>
  <!-- END Slider -->
</ion-content>