<ion-row class="ion-text-center">
  <ion-col>
    <img src="assets/ui/icons/position.svg">
    <h2>Markierte Position</h2>
    <p>Mit dieser Funktion kannst Du Dir ganz einfach merken wo dein Auto steht.</p>
  </ion-col>
</ion-row>
<ion-row class="buttons">
  <ion-col>
    <ion-button color="primary" expand="block" (click)="navigate()">Navigieren</ion-button>
  </ion-col>
  <ion-col>
    <ion-button color="primary" fill="outline" expand="block" (click)="delete()">Löschen</ion-button>
  </ion-col>
</ion-row>