img {
  height: 60px;
  margin-top: 10px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 14px;
  opacity: 0.85;
}
p {
  color: grey;
  font-size: 14px;
  margin: 0;
  padding: 0 10%;
}

ion-row.buttons {
  margin: 0 5% 10px 5%;
  ion-col {
    padding: 2px;
   
      button {
        border-width: 2px;
      }
    
  }
}
