ion-list {
  padding: 10px 0;
  ion-card {
    margin: 12px 20px;
    padding: 6px;
    border-radius: 16px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    --background: #fff;
  }
}

ion-card.stop-area-selector {
  border-radius: 100px;

  ion-select {
    margin-top: -20px;
  }

  ion-item {
    height: 20px;

    ion-label {
      margin-top: -16px;
      font-size: 14px;
      color: var(--ion-color-primary);
    }
  }
}

ion-spinner {
  display: block;
  margin: 20px auto 0 auto;
}

ion-refresher {
  z-index: 1;
}

.error-message {
  color: #656982;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.destination-text {
  font-weight: 600;
  text-overflow: ellipsis;
}