<ion-header class="ion-no-border">
  <ion-toolbar class="ion-shadow-bottom">
    <ion-title>ÖPNV</ion-title>
    <ion-buttons slot="end" collapse="true">
      <ion-button fill="clear" color="primary" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- <ion-refresher slot="fixed" (ionRefresh)="refreshDetails($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">ÖPNV</ion-title>
      <ion-buttons slot="end" collapse="true">
        <ion-button fill="clear" color="primary" (click)="close()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-card class="stop-area-selector" *ngIf="stopAreasAvailable && stopAreas?.length">
      <ion-item>
        <ion-label>{{ selectedStopArea?.name }}
          <span *ngIf="selectedStopArea?.distance">({{ selectedStopArea?.distance >= 1000 ? (selectedStopArea?.distance / 1000 | number:'1.1-1':'de') + ' km' : (selectedStopArea?.distance | number:'1.0-0') + ' m' }})</span>
        </ion-label>
        <ion-select (ionChange)="changeStopArea($event)" [value]="selectedStopArea?.id" interface="action-sheet"
          cancelText="Abbrechen" selectedText=" ">
          <ion-select-option [value]="area?.id" *ngFor="let area of stopAreas">{{ area?.name }}
            <span *ngIf="area?.distance">({{ area?.distance >= 1000 ? (area?.distance / 1000 | number:'1.1-1':'de') + ' km' : (area?.distance | number: '1.0-0') + ' m' }})</span>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-spinner
      *ngIf="(!stopAreas.length || !departures.length) && (!manualRefresh && departuresAvailable && stopAreasAvailable)"
      color="primary"></ion-spinner>

    <ion-card *ngFor="let departure of departures">
      <ion-item>
        <ion-label>
          <h3 class="destination-text">{{ departure?.display_informations?.direction }}</h3>
          <p>
            {{ departure?.stop_date_time?.departure_date_time | amLocale:'de' | amTimeAgo }} •
            {{ departure?.stop_date_time?.departure_date_time | date:'shortTime' }} Uhr
            <span *ngIf="departure?.display_informations?.physical_mode === 'Bus'">(Bus)</span>
            <span *ngIf="departure?.display_informations?.physical_mode === 'Tramway'">(Tram)</span>
            <span *ngIf="departure?.display_informations?.physical_mode === 'Train'">(Zug)</span>
            <span *ngIf="departure?.display_informations?.physical_mode === 'Metro'">(U-Bahn)</span>
          </p>
        </ion-label>
        <ion-badge slot="start">{{ departure?.display_informations?.label }}</ion-badge>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="!stopAreasAvailable">
      <p class="error-message">Keine Haltestellen in der Nähe</p>
    </ion-card>

    <ion-card *ngIf="!departuresAvailable && stopAreasAvailable">
      <p class="error-message">Keine Abfahrten verfügbar</p>
    </ion-card>

  </ion-list>
</ion-content>