.image-container {
  height: 100%;
  background: url('/assets/images/aipark-berlin-benchmark.gif') center top -60px / cover no-repeat;
}

.text-container {
  padding: 0 20px;
}

h2.title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}

p.subtitle {
  margin-top: 2px;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 14px;
}

ion-card.pricing-box {
  position: fixed;
  margin: 0 16px;
  right: 0;
  top: 125px;
  padding: 12px;
  text-align: center;

  @media screen and (device-aspect-ratio: 40/71) {
    transform: scale(0.9);
    margin-right: 6px;
  }

  h2 {
    margin: 0;
    color: black;
    font-size: 20px;
    font-weight: 600;
  }

  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 12px;
  }
}

ion-button[size='medium'] {
  height: 40px;
}

ion-button[size='small'] {
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-item {
  --min-height: 26px;
  --padding-start: 0;

  ion-label {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  ion-icon {
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: -2px;
    font-size: 18px;
  }
}
