
  <div class="image-container"></div>

  <ion-card class="pricing-box">
    <h2>3,99 €</h2>
    <p>im Monat</p>
  </ion-card>

  <div class="text-container">
    <h2 class="title">Jetzt upgraden</h2>
    <p class="subtitle">und noch besser parken</p>

    <ion-item lines="none" *ngFor="let feature of features">
      <ion-icon name="checkmark-circle" slot="start" color="primary"></ion-icon>
      <ion-label>{{feature}}</ion-label>
    </ion-item>

    <div style="height: 20px;"></div>

    <ion-button expand="block" size="medium" (click)="openBuyPage()">
      14 Tage kostenlos testen
    </ion-button>
    <ion-button expand="block" size="small" fill="clear" (click)="close()">
      Nein danke
    </ion-button>
  </div>

