// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'ChaletParisNineteenSeventy';
  src: url('/assets/fonts/ChaletParisNineteenSeventy.woff2') format('woff2'), url('/assets/fonts/ChaletParisNineteenSeventy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletLondonNineteenSeventy';
  src: url('/assets/fonts/ChaletLondonNineteenSeventy.woff2') format('woff2'), url('/assets/fonts/ChaletLondonNineteenSeventy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaletNewYorkNineteenSeventy';
  src: url('/assets/fonts/ChaletNewYorkNineteenSeventy.woff2') format('woff2'), url('/assets/fonts/ChaletNewYorkNineteenSeventy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
Regarding the ion-content padding:
We want the Tabbar to have rounded Corners.
So we need to make the Tabbar overlap the Content,
otherwise you wouldn't see that the Tabbar has rounded Corners. 
Also we want to hide the Google Logo from the Map behind the Tabbar.
To prevent the content of other pages from also being covered,
we need to set some bottom padding.
*/
ion-content {
  --padding-bottom: 40px;
}

ion-header {
  ion-toolbar {
    &.ion-no-background {
      --background: transparent;
    }

    &.ion-shadow-bottom {
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.06);
    }
  }

  &.header-collapse-condense-inactive {
    ion-toolbar {
      box-shadow: none;
    }
  }
}

ion-card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 16px;
  border-radius: 16px;
}

ion-title[size='large'] {
  font-size: 1.8em;
}

// Remove focus outline
// https://forum.ionicframework.com/t/how-to-remove-yellow-focus-border-around-buttons-in-android-apps/72725
:focus {
  outline: none;
}

ion-menu {
  ion-card-title {
    margin: 18px 10px 15px 10px;
  }

  ion-item {
    --border-color: #e6e6e6;
  }

  ion-item.divider {
    ion-label {
      font-weight: 700;
    }
  }

  ion-item.menu-item {
    ion-label {
      font-size: 16px !important;
    }
  }

  .more {
    margin-left: 15px;
    margin-bottom: 20px;
    color: #666;

    small {
      text-decoration: underline;
    }
  }

  ion-item.subtext {
    ion-label {
      color: #868686 !important;
    }
  }

  ion-footer {
    ion-label {
      color: #868686;
      font-size: 12px;
    }
  }

  ion-segment.order-setting {
    padding-left: 16px;
    padding-right: 16px;

    .segment-button-disabled {
      color: #c0c0c0;
      text-decoration: line-through;
    }
  }
}

h1.indicator-green {
  color: #a0c85a;
}

h1.indicator-yellow {
  color: #ffaa5a;
}

h1.indicator-red {
  color: #ec5552;
}

.title-pro-badge {
  background: white;
  color: rgba(39, 45, 64, 0.8);
  font-family: var(--ion-font-family);
  font-size: 0.7em;
  border-radius: 6px;
  padding: 1px 3px;
  margin-left: -2px;
}

// ion-footer > ion-toolbar > ion-button[expand='block'] {
//   text-transform: uppercase;
//   font-size: 0.8em;
//   font-weight: 400;
//   letter-spacing: 1px;
//   --border-radius: 8px;
// }

/* Bliq Colors */
.GREEN {
  color: #70bf3d;
}
.GREEN_YELLOW {
  color: #9cb400;
}
.YELLOW {
  color: #fdd800;
}
.ORANGE {
  color: #f25900;
}
.RED {
  color: #900f0d;
}

.badge_GREEN {
  border: #70bf3d solid 2px;
}
.badge_GREEN_YELLOW {
  border: #9cb400 solid 2px;
}
.badge_YELLOW {
  border: #fdd800 solid 2px;
}
.badge_ORANGE {
  border: #f25900 solid 2px;
}
.badge_RED {
  border: #900f0d solid 2px;
}

#interaction-element > .modal-wrapper.sc-ion-modal-ios {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 250px;
  height: auto;
  margin-top: auto;
  box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.1);
}

#location-error-modal {
  --width: 100%;
  --height: 100%;
  --border-radius: 0;
}

#upsell-modal {
  --width: 90vw;
  --max-width: 380px;
  --max-height: 450px;
  .modal-wrapper {
    border-radius: 20px;
  }
}

#city-unavailable-modal {
  --width: 90vw;
  --max-width: 380px;
  --max-height: 400px;
  // iPhone 5
  @media screen and (device-aspect-ratio: 40/71) {
    --max-height: 410px;
  }
  .modal-wrapper {
    border-radius: 20px;
  }
}

/* Custom Colors */
.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red);
  --ion-color-base-rgb: var(--ion-color-red-rgb);
  --ion-color-contrast: var(--ion-color-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-red-shade);
  --ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-indicator-green {
  --ion-color-base: var(--ion-color-indicator-green);
  --ion-color-base-rgb: var(--ion-color-indicator-green-rgb);
  --ion-color-contrast: var(--ion-color-indicator-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-indicator-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-indicator-green-shade);
  --ion-color-tint: var(--ion-color-indicator-green-tint);
}

.ion-color-indicator-red {
  --ion-color-base: var(--ion-color-indicator-red);
  --ion-color-base-rgb: var(--ion-color-indicator-red-rgb);
  --ion-color-contrast: var(--ion-color-indicator-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-indicator-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-indicator-red-shade);
  --ion-color-tint: var(--ion-color-indicator-red-tint);
}
