ion-content {
  --background: linear-gradient(rgba(var(--ion-color-secondary-rgb), 0.9) 20%, rgba(var(--ion-color-secondary-rgb), 0.9) 100%), url('/assets/images/header-bg.png') center/cover no-repeat;;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 10px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

ion-card {
  max-width: 440px;
  text-align: center;
  

  ion-card-title {
    font-size: 18px;
  }
}