<ion-content [forceOverscroll]="false">
  <div class="card-container">
    <ion-card>
      <ion-card-content>
        <ng-lottie [options]="lottieOpts" width="100%" height="180px"></ng-lottie>
        <ion-card-title>Ortungsdienste aktivieren</ion-card-title>
        <p>&nbsp;</p>
        <p>Damit LiveParking Dir Parkmöglichkeiten in Deiner unmittlbaren Nähe anzeigen kann, empfehlen wir Die die Ortungsdienste zu aktivieren.</p>
        <!-- <p>Keine Sorge, die Daten verlassen dein Handy nicht und werden dementsprechend nirgendwo gespeichert oder ausgewertet!</p> -->
        <p>&nbsp;</p>
        <ion-button expand="block" fill="solid" color="primary" (click)="openSettings()">
          Einstellungen öffnen
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>