ion-spinner {
  display: block;
  margin: 20px auto 0 auto;
}

ion-refresher {
  z-index: 1;
}

ion-list {
  padding: 10px 0;
  ion-card {
    margin: 12px 20px;
    padding: 6px;
    border-radius: 16px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    --background: #fff;
  }
}

ion-card.item-charging-station {
  ion-avatar {
    --border-radius: 0;
  }
  ion-chip {
    ion-label {
      font-size: 12px;
    }
    padding: 0 8px;
    height: 22px;
  }
  h3 {
    font-weight: 600;
    text-overflow: ellipsis;
  }
  ion-note {
    font-size: 12px;
    color: var(--ion-color-green);
  }

  ion-row.tags {
    margin-left: 4px;
  }

  ion-item {
    --padding-start: 10px;
  }
}

.error-message {
  color: #656982;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.destination-text {
  font-weight: 600;
  text-overflow: ellipsis;
}