<ion-header class="ion-no-border">
  <ion-toolbar class="ion-shadow-bottom">
    <ion-title>Ladestationen</ion-title>
    <ion-buttons slot="end" collapse="true">
      <ion-button fill="clear" color="primary" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-refresher slot="fixed" (ionRefresh)="refreshDetails($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Ladestationen</ion-title>
      <ion-buttons slot="end" collapse="true">
        <ion-button fill="clear" color="primary" (click)="close()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-spinner *ngIf="!chargingStations.length && chargingStationsAvailable && !manualRefresh" color="primary">
    </ion-spinner>

    <ion-card *ngFor="let station of chargingStations"
      (click)="openNavigator({ lat: station?.AddressInfo?.Latitude, lng: station?.AddressInfo?.Longitude }, station?.AddressInfo?.Title)"
      class="item-charging-station">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h3>{{ station?.AddressInfo?.Title }}</h3>
          <p>{{ station?.AddressInfo?.AddressLine1 }} <span *ngIf="station?.AddressInfo?.Distance">•
            {{ station?.AddressInfo?.Distance >= 1000 ? (station?.AddressInfo?.Distance / 1000 | number:'1.1-1':'de') + ' km' : (station?.AddressInfo?.Distance | number:'1.0-0') + ' m' }}</span>
          </p>
        </ion-label>
      </ion-item>
      <ion-row class="ion-text-left tags">
        <ion-chip *ngFor="let connector of station?.Connections"
          [color]="connector?.StatusType?.IsOperational ? 'green' : 'red'">
          <ion-label>{{ connector?.ConnectionType?.Title }}</ion-label>
        </ion-chip>
      </ion-row>
    </ion-card>

    <ion-card *ngIf="!chargingStationsAvailable">
      <p class="error-message">Keine Ladesäulen in der Nähe</p>
    </ion-card>
  </ion-list>
</ion-content>