<ion-card class="upsell-card" [ngClass]="{ 'border': showBorder, 'remove-shadow': !showShadow }" [disabled]="disabled">
  <ion-badge class="pro-badge">inkl. Parkstreifen</ion-badge>
  <img *ngIf="showImage" src="/assets/upsell-item/undraw_confirmation_2uy0.svg" />
  <ion-card-subtitle *ngIf="subtitle">{{ subtitle }}</ion-card-subtitle>
  <ion-card-title>500+ Städte</ion-card-title>
  <p>Über 500 verfügbare Städte inkl. Belegung von Parkstreifen in der Innenstadt.</p>
  <ion-button fill="clear">
    14 Tage kostenlos testen
  </ion-button>
</ion-card>