// BADGE

ion-badge.pro-badge {
  position: absolute;
  top: 10px;
  right: -23px;
  z-index: 999;
  transform: rotate(40deg);
  border-radius: 0;
  font-size: 12px;
  --padding-start: 30px;
  --padding-end: 30px;
  --background: #D7B740;
}

// UPSELL CARD

ion-card.upsell-card {
  padding: 14px 20px 14px 16px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 16px;
  --background: white;

  .pro-badge {
    top: 30px;
    right: -34px;
    font-weight: 500;
  }

  ion-card-subtitle {
    margin: 0 0 2px 0;
    font-size: 13px;
    font-weight: 600;
    color: black;
    opacity: 0.2;
    text-transform: none;
  }

  ion-card-title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  p {
    margin: 6px 0;
    color: var(--ion-color-secondary);
  }

  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    --color: #D7B740;
    margin: 0;
    height: 1.8em;
    font-size: 15px;
    font-weight: 700;
  }
}

.border {
  border: solid 2px #D7B740;
}

.remove-shadow {
  box-shadow: none;
}