<ion-header class="ion-no-border">
  <ion-toolbar class="ion-shadow-bottom">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- This header is only here to archive a nice scroll effect (shaddow added to primary toolbar)-->
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title>&nbsp;</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-spinner *ngIf="entries.length === 0"></ion-spinner>

  <ion-list>
    <ion-card *ngFor="let entry of entries; let i = index;" (click)="entry.openEmailOnClick ? writeEmail() : (entry.navigateToPathOnClick ? navigateTo(entry.navigateToPathOnClick) : '')" [style.--animation-order]="i">
      <ion-card-content>
        <ion-card-title>{{ entry.title }}</ion-card-title>
        <p [innerHTML]="entry.content"></p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>