// Take a look at the html to see what this does:
ion-content {
  ion-toolbar {
    height: 0;
    padding: 0;
  }
}

ion-title {
  opacity: 1 !important;
}

ion-card {
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 20px;

  ion-card-title {
    color: var(--ion-color-primary);
    font-size: 15px;
    margin-bottom: 10px;
  }

  p {
    color: black;
    pointer-events: none;
  }
}

ion-spinner {
  display: block;
  margin: 10px auto;
}

ion-card {
  animation: popIn 0.2s calc(var(--animation-order) * 70ms) both ease-in;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}