<ion-header class="ion-no-border">
  <ion-toolbar class="ion-shadow-bottom">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Parkplätze</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Parkplätze</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar #searchbar (ionFocus)="resetFilter()" (ionChange)="search($event)" (ionClear)="resetSearch()" (ionCancel)="resetSearch()" placeholder="Einträge durchsuchen"
      cancelButtonIcon="close-circle-outline" animated></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="no-results" *ngIf="!results.length">
    <h3>Keine Ergebnisse :(</h3>
    <p>Die Region in der Du Dich befindest scheint nicht in LiveParking erfasst zu sein.</p>
    <ion-button color="primary" expand="block" fill="clear" (click)="openCityList()">Verfügbare Städte</ion-button>
  </div>

  <!-- Nearest Spots -->
  <ion-list lines="full">
    <carousel-item *ngFor="let item of results | slice:0:maxResults | filterBy: searchTerm" [input]="item" (click)="openDetails(item)"></carousel-item>
  </ion-list>

  <ion-infinite-scroll threshold="20%" (ionInfinite)="displayMoreItems($event)">
    <ion-infinite-scroll-content>
      <ng-container *ngIf="isProUser && results.length">
        <span class="bliq-text">In Kooperation mit</span>
        <img class="bliq-logo" src="/assets/images/bliq-logo.png" (click)="openPartnerWebsite()">
      </ng-container>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!-- <ion-button expand="full" fill="clear" color="primary" size="small" (click)="close()" class="ion-text-wrap" *ngIf="isProUser">
    Zur Kartenansicht wechseln um<br>mehr Einträge zu laden
  </ion-button>
  
  <div class="divider-line"></div> -->


</ion-content>

<ion-footer *ngIf="isProUser">
  <ion-toolbar>
    <ion-segment [(ngModel)]="filter" (ionChange)="filterItems($event)">
      <ion-segment-button value="All">
        <ion-label>Alle</ion-label>
      </ion-segment-button>
      <ion-segment-button value="On-Street">
        <ion-label>On-Street</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Off-Street">
        <ion-label>Off-Street</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>