ion-list, ion-searchbar {
  max-width: 500px;
  margin: 0 auto;
}

ion-searchbar {
  padding-top: 15px !important;
}

ion-list {
  padding-bottom: 10px;
}

ion-content {
  --padding-bottom: 20px;
}

.divider-line {
  width: 100%;
  background: #efefef;
  height: 1px;
  margin: 20px 0;
}

.bliq-logo {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.bliq-text {
  display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: grey;
    margin-bottom: 8px;
}

.no-results {
  text-align: center;
  padding: 40% 20px 0 20px;
  p {
    opacity: 0.4;
  }
}