<div class="text-container">
  <img src="/assets/illustrations/undraw_towing_6yy4.svg">
  <h2 class="title">Stadt nicht verfügbar</h2>

  <p class="message">
    <span>Es tut uns leid! Am besten funktionieren Städte ab 100.000 Einwohner.</span>
    <strong *ngIf="nearestAvailableCity" class="nearest-city">Nächste verfügbare Stadt: {{nearestAvailableCity}}</strong>
  </p>

  <div style="height: 20px;"></div>

  <ion-button expand="block" size="medium" (click)="close()">
    Schließen
  </ion-button>
</div>