img {
  height: 124px;
  margin: 40px auto;
  display: block;
}

.text-container {
  padding: 0 20px;
}

h2.title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

p.message {
  margin: 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.nearest-city {
  display: block;
  font-size: 13px;
  margin-top: 14px;
}

ion-button[size='medium'] {
  height: 40px;
}

ion-button[size='small'] {
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-item {
  --min-height: 26px;
  --padding-start: 0;

  ion-label {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  ion-icon {
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: -2px;
    font-size: 18px;
  }
}
